@import url(http://weloveiconfonts.com/api/?family=entypo);

/* fontawesome */
[class*="entypo-"]:before {
  font-family: 'Entypo', sans-serif;
}

$highlight: #1fa756;

body {
  margin: 0;
  background: #d6eaf2;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #333;
  text-align: center;
}

button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s 0.75s ease-out;
  font-size: 18px;
  background: #fff;
  border: 0.25em solid $highlight;
  border-radius: 4em;
  color: $highlight;
  line-height: 1.5;
  padding: 1em 1em 1em 4em;

  img {
    position: absolute;
    left: 0.5em;
    top: 0.25em;

    border-radius: 50%;
    width: 3em;
  }
}

.card {
  display: none;
  position: absolute;
  height: 16em;
  width: 20em;
  left: calc(50% - 10em);
  bottom: calc(50% - 8em);
  transition: all 0.4s 0.4s cubic-bezier(.5,.2,.43,1.33);

  &.show {
    display: block;

    .headshot {
      img {
        opacity: 1;
        transform: rotateX(0);
      }
    }
    .details {
      visibility: visible;
    }
  }

}

.details {
  position: absolute;
  bottom: 2.5em;
  background: #fff;
  border-radius: 0.25em;
  height: 13.5em;
  overflow: hidden;
  text-align: center;
  visibility: hidden;
  width: 20em;

  h2 {
    color: #333;
    margin: 3em 0 0;
    font-weight: bold;
  }
  p {
    color: #666;
    font-size: 1em;
    font-weight: 200;
    line-height: 1.5;
    margin: 0.75em 2em 2em;
  }

}

.headshot img {
  border: 0.5em solid #fff;
  border-radius: 50%;
  display: block;
  opacity: 0;
  margin: -3em auto 0.5em;
  width: 6em;
  height: 6em;
}

.social-icons {
  background: $highlight;
  border-radius: 0.25em;
  position: absolute;
  left: -1em;
  right: -1em;
  top: 13em;

  ul {
    padding: 0;
    display: flex;
    flex-display: column;
    flex-wrap: nowrap;
  }

  li {
    display: inline-block;
    font-size: 2em;
    padding: 0 1em;
    width: 33%;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

.close {
  color: #aaa;
  cursor: pointer;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  width: 1em;
  height: 1em;
  z-index: 10;
}

