body {
  margin: 0;
  background: #f2f2f2;
  font-family: "San Francisco Display UltraLight", "Open Sans", Helvetica, Arial, Serif;
  font-weight: UltraLight;
  color: #333;
  text-align: center;
}

.watch {
  background: url(../images/watchbg.jpg);
  background-size: 100%;
  width: 195px;
  width: 390px;
  height: 216px;
  height: 432px;
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.screen {
  width: 59.2%;
  height: 74%;
  position: absolute;
  left: 18%;
  top: 13%;

  .title, .time {
    color: #fff;
    font-size: 0.75em;
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 0.1em;
  }

  .time {
    color: #aaa;
    right: 0;
    left: auto;
  }

  .dials {
    width: 7.5em;
    height: 7.5em;
    border-radius: 50%;
    position: absolute;
    top: 1.375em;
    left: 0;
  }

  .dial {
    overflow: hidden;
  }

  /**** DIAL 1 ****/
  .dial.move {
    &::after {
      content: "";
      background: #000;
      border-radius: 50%;
      width: 5.75em;
      height: 5.75em;
      position: absolute;
      top: 0.9em;
      left: 0.9em;
    }

    .container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .wedge {
      animation: rotate-bg-dial-1-1 3s 0.4s linear forwards;
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
    .container1 {
      clip: rect(0px, 7.5em, 7.5em, 3.725em);

      .wedge {
        background: linear-gradient(left, #f8202b, #f8202b 50%, transparent 50%, transparent);
      }
    }
    .container2 {
      clip: rect(0px, 3.725em, 7.5em, 0);

      .wedge {
        animation: rotate-bg-dial-1-2 3s 0.4s linear forwards;
        background: linear-gradient(left, transparent, transparent 50%, #f8202b 50%, #f8202b);
      }
    }

    .marker {
      width: 0.92em;
      height: 0.92em;
      background: #f8202b;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: calc(50% - 0.5em);
    }
    .end {
      animation: rotate-marker-dial-1 1.85s 0.4s linear forwards;
      transform-origin: 50% 3.75em;
    }
  }

  /**** DIAL 2 ****/
  .dial.exercise {
    position: absolute;
    width: 5.525em;
    height: 5.525em;
    top: 1em;
    left: 1em;

    &::after {
      content: "";
      background: #000;
      border-radius: 50%;
      width: 3.75em;
      height: 3.75em;
      position: absolute;
      top: 0.925em;
      left: 0.925em;
    }

    .container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .wedge {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
    .container1 {
      clip: rect(0px, 5.5em, 5.5em, 2.75em);

      .wedge {
        animation: rotate-bg-dial-2-1 2s .5s linear forwards;
        background: linear-gradient(left, #9cfb46, #9cfb46 50%, transparent 50%, transparent);
      }
    }
    .container2 {
      display: none;
    }

    .marker {
      width: 0.94em;
      height: 0.94em;
      background: #9cfb46;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: calc(50% - 0.5em);
    }
    .end {
      animation: rotate-marker-dial-2 2s .5s linear forwards;
      transform-origin: 50% 2.75em;
    }
  }

  /**** DIAL 3 ****/
  .dial.stand {
    position: absolute;
    width: 3.5em;
    height: 3.5em;
    top: 2.05em;
    left: 2.05em;

    &::after {
      content: "";
      background: #000;
      border-radius: 50%;
      width: 1.75em;
      height: 1.75em;
      position: absolute;
      top: 0.925em;
      left: 0.925em;
    }

    .container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .wedge {
      animation: rotate-bg-2 3s 1s infinite linear;
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
    .container1 {
      clip: rect(0px, 3.75em, 3.75em, 1.75em);

      .wedge {
        animation: rotate-bg-dial-3-1 2s 0.5s linear forwards;
        background: linear-gradient(left, #32cbd4, #32cbd4 50%, transparent 50%, transparent);
      }
    }
    .container2 {
      display: none;
    }

    .marker {
      width: 0.94em;
      height: 0.94em;
      background: #32cbd4;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: calc(50% - 0.5em);
    }
    .end {
      animation: rotate-marker-dial-3 2s 0.5s linear forwards;
      transform-origin: 50% 1.785em;
    }
  }

  .dial-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;

    &.one {
      background: #400818;

    }

    &.two {
      background: #2d400c;
    }

    &.three {
      background: #163d3b;
    }
  }
}

.pips {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  div {
    width: 0.25em;
    height: 0.25em;
    background-color: #353535;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0.02em;

    &:first-child {
      background-color: #fff;
    }
  }
}

/** Animations **/

@keyframes rotate-marker-dial-1 {
  100% {
    transform: rotateZ(220deg);
  }
}

@keyframes rotate-bg-dial-1-1 {
  50%, 100% {
    transform: rotateZ(180deg);
  }
}

@keyframes rotate-bg-dial-1-2 {
  50% {
    transform: none;
  }
  61.111%, 100% {
    transform: rotateZ(40deg);
  }
}

@keyframes rotate-marker-dial-2 {
  50%, 100% {
    transform: rotateZ(160deg);
  }
}

@keyframes rotate-bg-dial-2-1 {
  50%, 100% {
    transform: rotateZ(160deg);
  }
}

@keyframes rotate-marker-dial-3 {
  50%, 100% {
    transform: rotateZ(90deg);
  }
}

@keyframes rotate-bg-dial-3-1 {
  50%, 100% {
    transform: rotateZ(90deg);
  }
}








.examples {
  position: relative;
  font-size: 32px;
  display: none;

  .example1 {
    position: absolute;
    width: 4em;
    height: 4em;
    top: 0;
    clip: rect(0px, 4em, 4em, 2em);

    .wedge {
      animation: rotate-bg 4s infinite linear;
      border-radius: 50%;
      background: linear-gradient(left, red, red 50%, transparent 50%, transparent);
      width: 4em;
      height: 4em;
    }
  }

  .example2 {
    position: absolute;
    width: 4em;
    height: 4em;
    top: 0;
    left: 6em;
    clip: rect(0px, 2em, 4em, 0);

    .wedge {
      animation: rotate-bg 4s infinite linear;
      border-radius: 50%;
      background: linear-gradient(left, transparent, transparent 50%, red 50%, red);
      width: 4em;
      height: 4em;
    }
  }

  .example3, .example4, .example5, .example6 {
    position: absolute;
    width: 4em;
    height: 4em;
    top: 6em;
    left: 0;

    .container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .wedge {
      animation: rotate-bg-2 4s infinite linear;
      border-radius: 50%;
      width: 4em;
      height: 4em;
    }
    .container1 {
      clip: rect(0px, 4em, 4em, 2em);

      .wedge {
        background: linear-gradient(left, red, red 50%, transparent 50%, transparent);
      }
    }
    .container2 {
      clip: rect(0px, 2em, 4em, 0);

      .wedge {
        animation: rotate-bg-1 4s infinite linear;
        background: linear-gradient(left, transparent, transparent 50%, red 50%, red);
      }
    }
  }

  .example4, .example5, .example6 {
    top: 12em;

    &::after {
      content: "";
      background: #eee;
      border-radius: 50%;
      width: 3em;
      height: 3em;
      position: absolute;
      top: 0.5em;
      left: 0.5em;
    }
  }

  .example5, .example6 {
    top: 18em;

    .marker {
      width: 0.5em;
      height: 0.5em;
      background: green;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: calc(50% - 0.25em);
    }
    .end {
      animation: rotate-marker 4s infinite linear;
      transform-origin: 50% 2em;
    }
  }

  .example6 {
    top: 24em;

    .marker {
      background: red;
      animation: rotate-marker-staged 4s infinite linear;
    }
    .container1 {
      .wedge {
        animation: rotate-bg-staged-1 4s infinite linear;
      }
    }
  }

}

@keyframes rotate-bg {
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes rotate-bg-1 {
  0%, 50% {
    transform: none;
  }
  100% {
    transform: rotateZ(180deg);
  }
}

@keyframes rotate-bg-2 {
  50%, 100% {
    transform: rotateZ(180deg);
  }
}

@keyframes rotate-marker {
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes rotate-marker-staged {
  0% {
    animation-timing-function: cubic-bezier(0,.37,.5,.51);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}


@keyframes rotate-bg-staged-1 {
  0% {
    animation-timing-function: cubic-bezier(0,.37,.5,.51);
  }
  50%, 100% {
    transform: rotateZ(180deg);
  }
}


